/* in src/index.css or src/globals.css */
@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@400;600;700&display=swap");

@import "tailwindcss";

@theme {
  --font-urbanist: var(--font-urbanist);

  /* Color palette */
  --color-red: #d51c29;
  --color-blue: #709ad1;
  --color-orange: #ff921d;
  --color-teal: #70b8b7;
  --color-darkGray: #231f20;
  --color-mediumGray: #606060;
  --color-lightGray: #c4c4c4;
  --color-offWhite: #fff5db;
  --font-heading: "Urbanist", sans-serif;
}

@config "../../tailwind.config.js";
